
<!DOCTYPE html>
<html>
<head>
    <title>Список клиентов</title>
</head>
<body>
    <h1>Список клиентов</h1>
    <a class="p-2 btn btn-warning btn-lg" href="{% url 'catalog:product_list' %}">На главную</a>    <ul>
        {% for client in client_list %}
        <li>{{ client.email }}
            <form method="post" action="{% url 'catalog:update_client' client.id %}">
                {% csrf_token %}
                <input type="submit" value="Обновить">
            </form>
            <form method="post" action="{% url 'catalog:cl_delete' client.id %}">
                {% csrf_token %}
                <input type="submit" value="Удалить">
            </form>
        </li>
        {% endfor %}
    </ul>
    <form method="post" action="{% url 'catalog:add_client' %}">
        {% csrf_token %}
        {{ form.as_p }}

    </form>
</body>
</html>