{% extends 'catalog/base.html' %}
{% load my_tags %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1 class="display-4">Ваша рассылка</h1>
    <p class="lead">Здесь можете сделать рассылку</p>
    <p>Количество рассылок: {{ object_list|length }}</p>
    <p>Количество активных рассылок: {{ active_clients_count }}</p>
    <p>Количество клиентов: {{ count_active }}</p>
     </div>
        </div>
    <div class="container">
    <div class="row text-left">
        <div class="col-12 mb-5">
            <a class="btn btn-primary" href="{% url 'catalog:create_product' %}">Добавить рассылку</a>
        </div>
        {% for object in object_list %}
        <div class="col-3">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{ object.name }}</h4>
                </div>
                <div class="card-body">
                  <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <li>- {{ object.topic|slice:":30" }}</li>
                        <li>- {{ object.description|slice:":30" }}</li>
                         {% if request.user.is_authenticated %}
                         <span class="text-muted">Зарегистрировал: {{ object.user.email }}</span>
                         {% endif %}
                    </ul>
                     <a href="{% url 'catalog:update_product' object.pk %}" type="button" class="btn btn-primary">Обновить</a>
                    <a href="{% url 'catalog:delete' object.pk %}" type="button" class="btn btn-primary">Удалить</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

</div>

    </div>
</div>
{% endblock %}